*{
    margin: 0;
}

body{
    background-color: #C9C9C9; 
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    text-align: center;
    color: #22242E;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header{
    background-color: rgb(88, 145, 189); 
}

nav ul{
    list-style-type: none;
    padding: 10px;
    position: relative;
}

nav li{
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    min-width: 100px;
    float: left;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: rgb(49, 2, 2);
}

p{
    font-size: 15px;
    line-height: 1.5;
    font-family: Cambria; 
}

#bio{
    font-size: 20px;
    line-height: 2;
    padding: 30px;
    height: 100%;
    background-color: rgba(94, 158, 255, 0.432);
}

h4{
    text-decoration: underline;
    padding-top: 10px;
}

#resume{
    background-color: rgba(94, 158, 255, 0.432);
    line-height: 1.5;
    font-size: 15px;
    padding: 30px;
}

#resume ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

#resume h2{
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
}