body{
    background-color: #C9C9C9; 
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    text-align: center;
    color: #22242E;
    padding: 30px;
}

#image{
    align-content: center;
    width: 100%;
    max-width: 900px;
}

header{
    background-color: rgb(88, 145, 189); 
}

nav ul{
    list-style-type: none;
    padding: 0px;
    position: relative;
}

nav li{
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    min-width: 110px;
    float: left;
    font-size: 30px;
}