body{
    background-color: #C9C9C9; 
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    text-align: center;
    color: #22242E;
    padding-top: 30px;
}

img{
    width: 500px;
    align-content: center;
}

header{
    background-color: rgb(88, 145, 189); 
    margin-top: 0px;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    position: relative;
}

nav li{
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    min-width: 100px;
    float: left;
    font-size: 30px;
    text-decoration: none;
    color: rgb(32, 0, 0);
}

p{
    font-size: 15px;
    line-height: 1.5;
    font-family: Cambria; 
}

#bio{
    font-size: 25px;
    line-height: 2;
    padding: 30px;
    height: 100%;
    background-color: rgba(94, 158, 255, 0.616);
}